---
import GitLab from "./icons/GitLab.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import SubTitleSection from "@/components/SubTitleSection.astro";

const TAGS = {
  BACKEND: {
    name: "Backend",
    class: "bg-lime-900 text-white",
    icon: null,
  },
  FRONTEND: {
    name: "Frontend",
    class: "bg-fuchsia-900 text-white",
    icon: null,
  },
  DATABASES: {
    name: "Databases",
    class: "bg-blue-900 text-white",
    icon: null,
  },
  TESTING: {
    name: "Testing",
    class: "bg-rose-900 text-white",
    icon: null,
  },
  PATTERNSANDARCH: {
    name: "Patterns & Architecture",
    class: "bg-teal-900 text-white",
    icon: null,
  },
  NETWORKINGPROTOCOLS: {
    name: "Networking & Protocols",
    class: "bg-gray-200 text-black",
    icon: null,
  },
  UML: {
    name: "UML",
    class: "bg-sky-900 text-white",
    icon: null,
  },
};

const DATABI = [
  {
    year: "2023/Now",
    title: "Golang + Typescript coding on weekends",
    place: "on my own",
    description:
      "While develop, I'm learning and improving my knowledge in Golang, Vue, TypeScript, Python, and using Bun, VSCode, Git, GitLab, MariaDB, NODE, Vitest and more, under the mentoring of my experienced Project Manager and titled as Engineer friend Matias. We learn, catch up, and have fun together almost every weekend.",
    linkedin: "https://www.linkedin.com/in/maranimatias/",
    gitlab: "https://gitlab.com/nescalada",
    image: "/projects/typescript-golang.webp",
    href: "https://gitlab.com/nescalada",
    tags: [
      TAGS.PATTERNSANDARCH,
      TAGS.BACKEND,
      TAGS.FRONTEND,
      TAGS.TESTING,
      TAGS.DATABASES,
      TAGS.NETWORKINGPROTOCOLS,
    ],
  },
  {
    year: "2014 during my Engineering coursework",
    place: "in UTN FRRo",
    title: "JAVA medical records system",
    description:
      "My friends and I re-build the code from a previous desktop project into JAVA in our university degree and also we build a new WEB app. We learn some: JAVA, UML, Agile, JSP/Servlet, Client-Server, Maven, Git, Bitbucket, Google Drive, MongoDB, JSON, JQuery, AJAX, CSS, HTML, Javascript, Eclipse IDE, Foundation, Regex and more tools. You can check all the documentation by following the preview button below.",
    link: "https://drive.google.com/drive/folders/10tRL-a1naRP5-KFxOjJ141H3Npx3J0nM?usp=drive_link",
    linkedin: null,
    gitlab: null,
    util: null,
    href: "https://drive.google.com/drive/folders/10tRL-a1naRP5-KFxOjJ141H3Npx3J0nM?usp=drive_link",
    image: "/projects/systemDesign.webp",
    tags: [
      TAGS.BACKEND,
      TAGS.FRONTEND,
      TAGS.DATABASES,
      TAGS.UML,
      TAGS.PATTERNSANDARCH,
    ],
  },
  {
    year: "2017/2024",
    place: "at Adient",
    title: "Digital Certificates for Electronic Invoices & Bank Connections",
    description:
      "I was in charge of creating digital certificates for electronic invoices, participating in an international SAP team to achieve this functionality in our system. Collaborated with teams in Japan, Argentina, and the USA. My responsibilities included implementing encryption, hashes, and checksums, as well as managing certificate renewals. I also developed similar solutions for secure connections with our banking provider.",
    link: null,
    linkedin: null,
    gitlab: null,
    href: null,
    image: "/projects/cryptography.webp",
    tags: [TAGS.NETWORKINGPROTOCOLS],
  },
];
---

<SubTitleSection>
  {"<"}DevOps & Programming{" />"}
</SubTitleSection>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16">
  {
    DATABI.map(
      ({
        image,
        year,
        title,
        place,
        description,
        util: lcssplan,
        link: preview,
        linkedin,
        gitlab,
        href,
        tags,
      }) => (
        <div class="flex opacity-80 hover:opacity-100 flex-col space-x-0 group [&>strong]:text-blue-500 [&>strong]:font-semibold">
          <ul class="flex items-center justify-center flex-wrap mb-2 gap-2 transition duration-500 ease-in-out transform overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  {tag.icon && <tag.icon class="size-4" />}
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <div class="mb-2 relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <a href={href}>
              <img
                alt={title}
                class="object-cover object-top w-full h-54 transition duration-500 sm:h-auto md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </a>
          </div>
          <h5 class="text-xs text-center opacity-80 text-gray-800 dark:text-gray-100">
            - {year + " "}
            {place ? place : " "} -
          </h5>
          <h4 class="text-md text-center text-pretty font-bold text-gray-800 dark:text-gray-200">
            {title}
          </h4>
          <div class="flex flex-wrap text-sm mt-1 text-center text-pretty text-gray-700 dark:text-gray-400">
            {description}
          </div>
          <footer class="flex items-center justify-center mt-3 gap-x-2">
            {gitlab && (
              <LinkButton href={gitlab}>
                <GitLab class="size-4 " />
                Code
              </LinkButton>
            )}
            {preview && (
              <LinkButton href={preview}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
            {lcssplan && (
              <LinkButton href={lcssplan}>
                <Link class="size-4" />
                LCSS plan
              </LinkButton>
            )}
            {linkedin && (
              <LinkButton href={linkedin}>
                <LinkedIn class="size-4" />
                LinkedIn
              </LinkButton>
            )}
          </footer>
        </div>
      )
    )
  }
</div>
